<div class="container mt-2">

<h1>YELP</h1>

<ul style="list-style:roman">
  <% @restaurants.each do |restaurant| %>
    <hr>
    <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
  <% end %>
</ul>
<button class="btn btn-outline-danger mt-6 pl-5"><%= link_to "Add a new restaurant bro", new_restaurant_path %></button>
</div>
